Package: noaacap
Version: 0.7.3
Section: hamradio
Priority: extra
Maintainer: Dan Srebnick <k2dls at k2dls.net>
Architecture: all
Depends: aprx (>=2.9), db-util, python3-lxml, python3-pip, python3-bs4, python3-tz, python3-bsddb3, python3-systemd
Description: APRS Weather Alerts beacon exec for aprx
