Package: noaacap
Version: 0.6
Section: hamradio
Priority: extra
Maintainer: Dan Srebnick <k2dls at k2dls.net>
Architecture: all
Depends: aprx (>=2.9), db-util, python-lxml, python-pip, python-bs4, python-tz
Description: APRS Weather Alerts beacon exec for aprx
